.dropperPickerbox{
    width: 800px;
    margin: 100 auto 10 auto;

    .pickDropper{
        background-color: #fff;
        width: 200px;
        height: 40px;
        text-align: center;
        
    }
}